html {
    height: 100%;
}

body {
    height: 100%;
}

/* LOGIN starts here */

body#login {
    background: url("../img/bg-login.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#login-form {
    width: 100%;
    text-align: center;
    margin-top: 5%;
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;    
}

#login-form form {
    background: #FFF;
}

#login-logo {
    width: 350px;    
    padding-bottom: 30px;
}

#login-form-content {
    padding: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

/* LOGIN ends here */

/* HEADER starts here */

body #header .navbar-fixed {
    z-index: 9999;
}

body #header nav.navbar-color {
    background: #fff;
}

body #header nav.navbar-color ul a {
    color: rgba(0, 0, 0, 0.87);
}

body #header nav.navbar-color .header-search-wrapper i {
    color: rgba(0, 0, 0, 0.87);
}

body #header nav.navbar-color .header-search-wrapper input.header-search-input {
    border: 1px solid #869298;
    color: rgba(0, 0, 0, 0.87);
    background: rgba(230, 230, 230, 0.3);
}

body #header nav.navbar-color .header-search-wrapper input.header-search-input:hover, body #header nav.navbar-color .header-search-wrapper input.header-search-input:active, body #header nav.navbar-color .header-search-wrapper input.header-search-input:focus {
    border: 1px solid #adadad;
    border-bottom: 1px solid #adadad !important;
    background: rgba(230, 230, 230, 0);
}
  
body #header nav.navbar-color .header-search-wrapper input.header-search-input::placeholder {
    color: rgba(0, 0, 0, 0.87);
}

h1.logo-wrapper {
    margin: 0;
    padding: 0;
}

.brand-logo {
    max-height: 64px;
}

.brand-logo img {
    width: 200px;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
}

/* Search box */

#header .header-search-wrapper {
    margin: 10px auto 0 260px;
    width: calc(100% - 600px);
    height: 40px;
    display: inline-block;
    position: relative;
    -webkit-transition: .3s ease all;
    -o-transition: .3s ease all;
    -moz-transition: .3s ease all;
    transition: .3s ease all;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}

#header .header-search-wrapper.sideNav-lock {
    margin: 10px auto 0 260px;
}

#header .header-search-wrapper i {
    position: absolute;
    font-size: 24px;
    top: 6px;
    left: 24px;
    line-height: 32px !important;
    -webkit-transition: color 200ms ease;
    transition: color 200ms ease;
}

#header input.header-search-input {
    display: block;
    padding: 8px 8px 8px 72px;
    width: 87%;
    background: rgba(255, 255, 255, 0.3);
    height: 24px;
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
    border: none;
    font-size: 16px;
    appearance: textfield;
    font-weight: 400;
    outline: none;
    border-radius: 3px;
}

#header input.header-search-input:hover {
    background: rgba(255, 255, 255, 0.5);
}

#header input.header-search-input:focus {
    color: #333;
    background: #fff;
    border-bottom: none !important;
    box-shadow: none !important;
}

#header .header-search-wrapper-focus i {
    color: #444;
}

#header .header-search-input::-webkit-input-placeholder {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
}

#header .header-search-input::-moz-placeholder {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
}

#header .header-search-input:-ms-input-placeholder {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
}

#header .header-search-input:focus::-webkit-input-placeholder {
    color: #333;
    font-size: 16px;
    font-weight: 400;
}

#header .header-search-input:focus::-moz-placeholder {
    color: #333;
    font-size: 16px;
    font-weight: 400;
}

#header .header-search-input:focus::placeholder {
    color: #333;
    font-size: 16px;
    font-weight: 400;
}

#header .header-search-input:focus:-ms-input-placeholder {
    color: #333;
    font-size: 16px;
    font-weight: 400;
}

.errors{
    color: red;
    width:10px;
    height: 5px;
}

#header .header-search-input::placeholder {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
}

/* HEADER ends here */

/* SIDENAV starts here */

.sidenav {
    padding-top: 64px;
    max-width: 260px;
}

.sidenav .user-view .background {
    background: #009600;
}

/* SIDENAV ends here */

/* DASHBOARD starts here */

.custom-card {
    min-height: 395px;
    background: #FFF;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    padding: 20px;    
    border-radius: 10px;
    margin-bottom: 20px;
}

.custom-card.without-min-height {
    min-height: 0px;
}

.custom-card .card-title {
    padding: 0;
    margin: 0;    
    padding-bottom: 10px;
    margin-bottom: 25px;        
    color: #333;
    font-size: 18px;
    border-bottom: 1px solid #CCC;
}

.current-balance
{
    font-weight: bold;
    font-size: 22px;
    color: #009600;
}

.chart {
    width: 100%;
}

/* DASHBOARD ends here */

/* UTILITY starts here */

.green-btn {
    background: #009600;
    
}

.no-bottom-margin {
    margin-bottom: 0;
}

@media only screen and (min-width: 993px) {
    .container.main {
        width: calc(100% - 270px);
        float: right;
        max-width: none;
        padding-top: 20px;
    }
  }

  @media only screen and (max-width: 768px) {
    .container.main {
        padding-top: 20px;
    }
  }

/* UTILITY ends here */